<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add new squad</title>
</head>
<body>
<form action="/squads" method="post">
  <p>
    <label for="name">New Squad Name:</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="mascot">New Squad Mascot: </label>
    <input type="text" name="mascot" id="mascot">
  </p>
  <input type="submit" value="New Squad">
</form>  
</body>
</html>